<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>INDEX</title>
</head>
<body>
    <div class="page-wrapper">
        <header>
            <nav>
                <a class="logo" href="/">
                    <img src="/images/digital-books-logo.png">
                    <span>Knowledge World</span>
                </a>
                <ul>
                    <% if (currentUser) { %>
                        <li><a href="/logout"> Logout</a></li>
                    <% } else { %>
                        <li><a href="/login"> Login</a></li>
                        <li><a href="/signup"> Signup</a></li>
                        <% }
                    %>
                </ul>
            </nav>
        </header>
        <main>
            <section class="hero">
                <h1>Knowledge World</h1>
                <section class="btn-group">
                    <a href="/login" class="btn-link"> Login</a>
                    <a href="/signup" class="btn-link"> Signup</a>
                </section>
            </section>
        </main>    
        <footer>
            <a href="https://github.com/BigSuggs72/libraryauth" target="_blank">View on Github</a>
        </footer>
    </div>
    <script src ='/js/main.js'></script>
</body>
</html>