<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!--Favicon-->
     <link rel="icon" type="image/x-icon" href="/images/books-stack-of-three-svgrepo-com.svg">

    <!--Styles and Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>  
    <div class="page-wrapper">
    <header>
        <nav>
            <a class="logo" href="/">
                <img src="/images/books-stack-of-three-svgrepo-com.svg">
                <span>Knowledge World</span>
            </a>
            <ul>
                <% if (currentUser) { %>
                    <li><a href="/logout" class="btn-link btn-primary"> Logout</a></li>
                <% } else { %>
                    <li><a href="/login" class="btn-link btn-primary"> Login</a></li>
                    <li><a href="/signup" class="btn-link btn-secondary"> Signup</a></li>
                    <% }
                %>
            </ul>
        </nav>
    </header>
    <main>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <section class="login" id="login-form">
        <h1>Login</h1>
        <form id="login-form" action="/login" method="POST">
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input class="btn-submit btn-primary" type="submit">
        </form>
    </section>
    </main>
    <footer>
        <a href="https://github.com/BigSuggs72/libraryauth" target="_blank">View on Github</a>
      </footer>
    </div>    
    <script src="js/main.js"></script>
</body>
</html>