<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>SIGN UP</title>
</head>
<body>
    <div class="page-wrapper">
        <header>
            <nav>
                <a class="logo" href="/">
                    <img src="/images/books-stack-of-three-svgrepo-com.svg">
                    <span>Knowledge World</span>
                </a>
                <ul>
                    <% if (currentUser) { %>
                        <li><a href="/logout" class="btn-link btn-primary"> Logout</a></li>
                    <% } else { %>
                        <li><a href="/login" class="btn-link btn-primary"> Login</a></li>
                        <li><a href="/signup" class="btn-link btn-secondary"> Signup</a></li>
                        <% }
                    %>
                </ul>
            </nav>
        </header>
        <main>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <section class="signup">
        <h1>SIGNUP</h1>
        <form id="signup-form" action="/signup" method="POST">
            <input type="text" name="userName" placeholder="User Name">
            <input type="email" name="email" placeholder="Email">
            <input type="firstName" name="firstName" placeholder="First Name">
            <input type="lastName" name="lastName" placeholder="Last Name">
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirmPassword" placeholder="Confirm Password">
            <input id="signup-submit-button" type="submit">
        </form>
    </section> 
    </main> 
    <footer>
        <a href="https://github.com/BigSuggs72/libraryauth" target="_blank">View on Github</a>
      </footer>
    </div>
    <script src="js/main.js"></script>
</body>
</html>