* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(175, 175, 191);
    font-family: "Edu TAS Beginner", sans-serif;
}

.layout {
    color: white;
    width: 600px;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 600px;
    padding: 20px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 4rem;
}

a {
    padding: 20px;
    font-size: 1rem;
}
