* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Edu TAS Beginner", sans-serif;
}

/* grid layout for index page */

.page-wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 5rem 1fr 4rem;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* header/nav styling */

nav {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  max-height: 100%;
  padding: 1rem;
  background-color: #F7F7F7;
}

.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #264653;
  font-weight: 600;
}

.logo img {
  max-height: 100%;
  max-width: 35px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* footer styling */

footer {
  padding: 1rem;
  display: flex;
  background-color: #264653;
  color: #fff;
}

/* link styling */

nav li {
  list-style-type: none;
}

nav a, footer a {
  color: #F7F7F7;
  text-decoration: none;
}

footer a:visited {
  color: #fff;
}

.btn-link {
  border-radius: 10px;
  padding: .5rem 1.5rem;
  text-decoration: none;
}

.btn-primary {
  background: #008F95;
  color: #fff;
}

.btn-secondary {
  background-color: #F7B733;
  color: #000;
}

.btn-primary:hover {
  background: #ade0e9;
  color: #000;
}

.btn-secondary:hover {
  background: #f4d79d;
  color: #000;
}

/* styling for Index page */

.accent-spacer {    /*This is the skinny orange triangle*/
  clip-path: polygon(100% 0, 0 0, 0 100%);
  background-color: #E24E42;
  height: 10rem;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0px 20px 20px 20px;
  color: #000;
}

h1 {
  padding: 20px 0 10px 0;
  font-size: 3.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.lottie-container {
  border-radius: 25%;
  overflow: hidden;
  margin: 1rem;
}

/* styling for Books page */

.row{
  display: flex;
}

.column {
  flex: 50%;
  padding-left: 2%;
}

.inventory {
  margin-top: 120px;
  padding-bottom: 10px;
}

.book-list {
  list-style: none;
  margin: 10px 0;
}

.title, .author, .checker, .del {
  padding-right: 20px;
}

.del {
  cursor: pointer;
  color: red
}

/* styling for extended sections with extra book info */

.extend {
  font-family: sans-serif;
  border: 1px solid black;
  padding: 0 4px;
  cursor: pointer;
}

.minimize {
  align-self: flex-end;
  font-family: sans-serif;
  border: 1px solid black;
  padding: 0px 6px;
  cursor: pointer;
  margin-top: 10px;
}

.extended-view {
  font-family: serif;
  font-size: 0.8rem;
  background: lightgray;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 20px 10px 0;
  padding: 0 10px 10px 10px;
}

.extended-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#extended-header-title {
  text-decoration: underline;
}

.extended-view span {
  margin: 5px 0;
}

.hidden {
  display: none;
}

/* styling for the form to add books */

#book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 5px;
  width: 95%;
  max-width: 500px;
  margin: 20px 0;
  -moz-box-shadow: 0 0 10px 2px gray;
  -webkit-box-shadow: 0 0 10px 2px gray;
  box-shadow: 0 0 10px 2px gray;
  padding: 25px;
}

#book-form h2 {
  align-self: center;
  margin-bottom: 15px;
}

#book-form div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-field {
  width: 50%;
  margin: 5px 0 5px 10px;
  padding: 3px;
}

#books-submit-button {
  width: 25%;
  margin-top: 10px;
  padding: 3px;
}


/*checkedOut spans*/
.checker:hover {
  cursor: pointer;
}


/* styling for Login and Signup pages */

.login, .signup {
  color:  blue;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-form, #signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #fff;
  border-radius: 5px;
  width: 95%;
  max-width: 500px;
  margin: 20px 0;
  padding: 25px;
}

#login-form input, #signup-form input {
  margin: 3px 0;
  padding: 3px;
}

#login-submit-button, #signup-submit-button {
  align-self: center;
  cursor: pointer;
}
